
figcaption {
    text-align: center;
}
.blog-container {
    grid-area: main;
    width: 100%;
    height: auto;
}
.blog-img img {
    max-width: 90%;
    max-height: 100%;
    object-fit: cover;
    padding-left: 10%;
    padding-top: 1%;
}
.blog-para p {
    max-width: 80%;
    padding-top: 20px;
    padding-left: 10%;
    padding-bottom: 20px;
    line-height: 1.5;
}
.side-post {
    padding: 30px;
}
.sidebar {
    grid-area: sidebar;
    height: auto;
}
.blog-info {
    padding-left: 50px;
    font-size: 0.9rem;
}
.author-info {
    display: flex;
    padding: 5px;
}
.time {
    padding-top: 7px;
    padding-left: 10px;
    opacity: 0.7;
    color: #A94779;
}
.name {
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
    color: #3948BE;
}
.avatar img {
    width: 40px;
    height: auto;
}
.author-bio {
    padding: 20px;
    padding-left: 50px;
    max-width: 80%;
}
.author-bio h3 {
    color: #A94779;
}
/* responsive */
@media screen and (min-width: 850px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        grid-template-areas: 
        "sidebar main"
        "sidebar main";
    }
    .side-post {
        padding: 30px;
    }
    .blog-para p {
        line-height: 2;
    }
    .blog-info {
        padding-left: 100px;
    }
    .author-bio {
        padding: 20px;
        padding-left: 100px;
        max-width: 80%;
    }
    .author-bio h3 {
        color: #A94779;
    }
}