  /* Responsive query */
  @media screen and (min-width: 850px) {
    .hero h1 {
        font-weight: 700;
        font-size: 6.5rem;
    }
    .heading h1 {
        font-weight: 700;
        font-size: 3.5rem;
    }
    .sub p {
        font-weight: 500;
        font-size: 1.2rem;
        opacity: 0.8;
    }
 }