body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #C6CAD6;
    font-size: 1rem;
}
.header {
    padding: 30px 45px;
    color: #7A83A0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 1.1rem;
    flex: wrap;
}
.logo-image {
    width: 30px;
    height: 30px;
}
.search-image {
    width: 25px;
    height: 25px;
    margin-left: 20px;
}
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav a {
    color: #7A83A0;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
}
.nav a:hover {
    color: #676D94;
    font-size: 1.2rem;
}
.nav li {
    margin-left: 40px;
}
.hero {
    padding-left: 150px;
}
.hero h1 {
    font-weight: 700;
    font-size: 100px;
}
.posts {
    padding: 60px 45px;
    display: flex;
    justify-content: space-between;
}
.posts-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 100px;
}
.post-item {
    padding-top: 30px;
}
.post-item img {
    margin: 0;
}
.post-image {
    max-width: 300px;
    border-radius: 8px;
    display: inline-block;
}
.post-date {
    color: #7A83A0;
    font-weight: 300;
    font-size: 0.9rem;
    padding: 0 2px;
}
.post-heading h2 {
    line-height: 1.4;
}
.post-sub p {
    color: #7A83A0;
}
.post-sub a {
    text-decoration: none;
    color: #3948BE;
}