body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #C6CAD6;
    font-size: 1rem;
}
.header {
    padding: 30px 45px;
    color: #7A83A0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 1.1rem;
    flex: wrap;
}
.logo-image {
    width: 30px;
    height: 30px;
}
.search-image {
    width: 25px;
    height: 25px;
    margin-left: 20px;
}
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav a {
    color: #7A83A0;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
}
.nav a:hover {
    color: #3948BE;
    font-size: 1.2rem;
}
.nav li {
    margin-left: 40px;
}
.hero {
    padding-left: 150px;
}
.hero h1 {
    font-weight: 700;
    font-size: 4rem;
}
.posts {
    padding: 20px;
    justify-content: center;
}
.posts-inner {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}
.post-item {
    padding-top: 30px;
}
.post-item img {
    margin: 0;
}
.post-image {
    max-width: 300px;
    max-height: 400px;
    border-radius: 8px;
    display: inline-block;
}
.post-image:hover {
    cursor: pointer;
}
.post-date {
    color: #7A83A0;
    font-weight: 300;
    font-size: 0.9rem;
    padding: 0 2px;
}
.post-heading h2 {
    line-height: 1.4;
    cursor: pointer;
}
.post-sub p {
    color: #7A83A0;
}
.post-sub a {
    text-decoration: none;
    color: #3948BE;
}
.footer {
    text-align: center;
    padding: 20px;
    color: #3948BE;
    font-size: 0.9rem;
    background-color: #7A83A0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .button-div {
      display: flex;
      justify-content: center;
      padding: 45px 45px;
  }
  .button {
      background-color: #3948BE;
      color: #fff;
      text-decoration: none;
      padding: 15px 22px;
      border-radius: 8px;
      font-size: 1.18rem;
    display: inline-block;
  }
  .button:hover {
      background-color: #6872bd;
  }

  /* blog css */
.main-heading {
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}
.main-image {
    height: 300px;
    width: 60%;
    display: flex;
    justify-content: center;
}
.main-image img {
    max-width: 100%;
    max-height: 100%;
}
  /* Responsive query */
 @media screen and (min-width: 850px) {
    .hero h1 {
        font-weight: 700;
        font-size: 6.5rem;
    }
    .main-image {
        height: 800px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .main-image img {
        max-width: 100%;
        max-height: 100%;
    }
 }