body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #C6CAD6;
    font-size: 1rem;
}
.header {
    padding: 30px 45px;
    color: #7A83A0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 1.1rem;
}
.logo-image {
    width: 30px;
    height: 30px;
}
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav a {
    color: #7A83A0;
    text-decoration: none;
    display: block;
}
.nav a:hover {
    color: #676D94;
}
.nav li {
    margin-left: 40px;
}
.hero {
    padding-left: 150px;
}
.hero h1 {
    font-weight: 700;
    font-size: 100px;
}
